{% extends "layout.html" %}

{% block title %}
    New Count
{% endblock %}

{% block main %}
    <form action="/count2" method="post">
        <div class="form-group">
            <input class="form-control" name="cuenta" placeholder="Bill name" type="text">
        </div>
    {% for i in range(cantidad) %}

        <div class="form-group">
            <input class="form-control" name="user_{{i}}" placeholder="User {{i+1}}..." type="text">
        </div>
    {% endfor %}
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
{% endblock %}
